
#download-app {
    background-color: $gray-100;

    .container {
        background-color: $gray-200;
        display: flex;
        justify-content: space-between;
        padding: 4rem 1rem;

        .download-img {
            flex: 1;

            img {
            }
        }

        .content {
            flex: 1;

            h1 {
                width: 65%;
            }

            .download-app {
                margin: 2.5rem 0;

                .app-stores {
                    color: $gray-600;
                }

                .rating {
                    margin-bottom: 0.6rem;

                    i {
                        color: $warning;
                    }
                }

                .download {
                    display: flex;
                    gap: 4rem;

                    .download-info {
                    }

                    h4 {
                    }

                    .statisticts {
                    }

                    img {

                        &:hover {
                            text-decoration: none;
                            box-shadow: 10px 2px 8px rgba(0, 30, 255, 0.2);
                            transform: translateY(-4px);
                            color: $white;
                            transition: all 0.35s ease-in-out;
                            border-radius: 10%;
                        }
                    }
                }
            }
        }
    }
}