.features {
    width: 100%;
    background-color: $gray-100;
    padding-bottom: 3rem;
    padding-top: 3rem;


    .container {
        text-align: center;
        padding: 1.3rem 1rem;

        .title {
            margin-bottom: 2rem;

            h1 {
            }

            p {
            }
        }

        h2 {
            @include standard-heading;
            font-size: 32px !important;

            @include lg {
                font-size: 40px !important;
            }
        }

        .feature-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .feature {
                padding: 3rem 2rem;
                transition: 0.2s ease-in-out;

                .icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;

                    img {
                        background-color: $gray-100;
                        padding: 10px;
                        border-radius: 4px;
                    }
                }

                h5 {
                }

                p {
                    color: $gray-700;
                }

                &:hover {
                    background-color: $white;
                    box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.4)
                }
            }

            #feature-1 {
                border-bottom: 1px solid $gray-300;
            }

            #feature-2 {
                border-left: 1px solid $gray-300;
                border-right: 1px solid $gray-300;
                border-bottom: 1px solid $gray-300;
            }

            #feature-3 {
                border-bottom: 1px solid $gray-300;
            }

            #feature-5 {
                border-left: 1px solid $gray-300;
                border-right: 1px solid $gray-300;
            }
        }
    }
}
