.features {
    width: 100%;
    background-color: $gray-100;
    padding-bottom: 3rem;
    padding-top: 3rem;


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.3rem 1rem;

        h2 {
            @include standard-heading;
            font-size: 32px !important;

            @include lg {
                font-size: 40px !important;
            }
        }

        .tool-features {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 1rem;

            @include md {
                margin-top: 3rem;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }


            .box {
                padding: 1.3rem;
                border-radius: 8px;
                text-align: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    @include theme-secondary-shadow;
                    text-decoration: none;
                    background: $gray-400;
                    color: $white;
                    transition: color 0.35s ease-in-out;
                }

                @include md {
                    flex: 0 0 calc(33.33% - 20px);
                    max-width: calc(33.33% - 20px);
                    padding: 20px;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                    img {

                        @include md {
                            display: flex;
                            max-width: 40%;
                            object-fit: scale-down;
                            margin-bottom: 1rem
                        }
                    }

                    h5 {

                        @include md {
                            @include standard-heading;
                            font-size: 14px !important;
                        }

                        @include lg {
                            @include standard-heading;
                            font-size: 18px !important;
                        }
                    }

                    p {

                        @include md {
                            @include standard-text;
                            font-size: 12px !important;
                        }

                        @include lg {
                            @include standard-text;
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
}
