.integrate-tool {
    padding: 3rem 0;

    .container {
        display: grid;
        text-align: center;

        .integrate-tool-heading {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        .tools {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;

            .tool {
                text-align: left;
                padding: 1.5rem;
                border-radius: 8px;
                transition: 0.2s ease-in-out;
                cursor: pointer;

                img {
                    width: 3rem;
                    padding-bottom: 0.7rem;
                }

                p {
                }

                &:hover {
                    box-shadow: 0 0 18px -8px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
