#switch-black-white {
    display: flex;
    align-content: center;
    position: relative;

    .dark-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $black;
        width: 50vw;
        z-index: -10;
        border-right: 1px solid $theme;
    }

    .container {
        text-align: center;
        padding: 3rem 0;

        .title {
            display: flex;
            justify-content: center;
            margin: 2rem 0;

            h1 {
                flex: 1;
            }

            .light {
                text-align: right;
                color: $white;
            }

            .dark {
                text-align: left;
                color: $gray-900;
                margin-left: 50px;
            }

            img {
                margin-left: 10px;
                position: relative;
            }
        }
    }
}
