
.manage-work {
    .container {
        display: flex;
        align-items: center;

        img {
            flex: 1;
            width: 50%;
        }

        .content {
            flex: 1;
            margin-left: 5rem;

            h2 {

            }

            ul {

                list-style: none;
                margin: 2rem 0;
                padding: 0;

                li {
                    margin-bottom: 0.8rem;
                    i {
                        color: $theme;
                        margin-right: 0.5rem;
                        background-color: transparent;
                    }
                }
            }

            a {
                display: inline-block;
            }
        }
    }
}



