@* @model WorkWithUsViewModel  *@

<section id="work-with-us" class="work-with-us">
    <div class="container">
        <div class="work-with-us-left-side">
            <p>Ready to get started?</p>
            <h2>Take Your <span>Skills</span> to the Next Level</h2>
            <a class="btn-theme" asp-controller="" asp-action="">"Work with us"</a>
        </div>
        <div class="work-with-us-right-side">
            <img src="~/images/work-with-us-illustration.svg" alt="cartoon picture">
        </div>
    </div>
</section>