<section class="download-app">
    <div class="container">
        <img src="images/mobile-img-app.svg" alt="mobile phone">
        <div class="download-app-content">
            <div class="download-app-heading">
                <h2>Download Our App for Any Devices:</h2>
            </div>
            <div class="app-download">
                <div class="left-side-download">
                    <p class="store-heading">App Store</p>
                    <div class="ratings">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                    </div>
                    <h5>Editor's Choice</h5>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div class="right-side-download">
                    <a class="app-stores" href="#"><img src="images/appstore.svg" alt="appstore loga"></a>
                </div>
            </div>
            <div class="app-download">
                <div class="left-side-download">
                    <p class="store-heading"></p>
                    <div class="ratings">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                        <img src="images/rating-star.svg" alt="yellow star">
                    </div>
                    <h5>App of the Day</h5>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div class="right-side-download">
                    <a class="app-stores" href="#"><img src="images/googleplay.svg" alt="appstore loga"></a>
                </div>
            </div>
        </div>
    </div>
</section>