<section class="sign-up">
    <div class="container">
        <div class="sign-up-heading">
            <h2>Don't Want to Miss Anything?</h2>
            <img src="../icons/sign-up-line.svg" alt="blue winding line">
        </div>
        <div class="sign-up-newsletters">
            <h5>Sign up for Newsletters</h5>
            <div class="sign-up-options">
                <div class="form-check newsletter">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Daily Newsletter
                    </label>
                </div>
                <div class="form-check newsletter">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Advertising Updates
                    </label>
                </div>
                <div class="form-check newsletter">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Week in Review
                    </label>
                </div>
                <div class="form-check newsletter">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Event Updates
                    </label>
                </div>
                <div class="form-check newsletter">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Startups Weekly
                    </label>
                </div>
                <div class="form-check newsletter">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Podcasts
                    </label>
                </div>
            </div>

        </div>

        <div class="sign-up-field">
            <input type="text" placeholder="Your Email">

            <a class="btn-theme" href="#">Subscribe *</a>
        </div>

        <div class="sign-up-terms-and-privacy">
            <p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy</a> policy.</p>
        </div>
    </div>
</section>