@model SubscriberDto

<section id="Subscriber" class="subscribe">
    <div class="container">
        <div class="subscribe-heading">
            <h2>Don't Want to Miss Anything?</h2>
            <img src="~/icons/sign-up-line.svg" alt="lines">
        </div>
        <div class="subscribe-newsletters">
            <form id="submitForm" asp-controller="Subscribe" asp-action="Index" method="post" asp-fragment="Subscriber" novalidate>
                <div class="subscribe-options">
                    <h5>Sign up for Newsletters</h5>
                    <div class="boxes">
                        <div class="form-check newsletter">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Daily Newsletter
                            </label>
                        </div>
                        <div class="form-check newsletter">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Advertising Updates
                            </label>
                        </div>
                        <div class="form-check newsletter">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Week in Review
                            </label>
                        </div>
                        <div class="form-check newsletter">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Event Updates
                            </label>
                        </div>
                        <div class="form-check newsletter">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Startups Weekly
                            </label>
                        </div>
                        <div class="form-check newsletter">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Podcasts
                            </label>
                        </div>
                    </div>
                </div>
                <div class="subscribe-field">
                   
                    <div class="subscribe-field-input-group">
                        <i class="fa-regular fa-envelope"></i> 
                        <input id="input-field" asp-for="@Model.Email" placeholder="Your Email" type="email" />
                        
                    </div>
                    <span class="this-important" asp-validation-for="@Model.Email"></span>
                    <button type="submit" class="btn btn-theme">Subscribe *</button>
                </div>

            </form>
        </div>
        <span class="information">
            @if (TempData["Status"]?.ToString() == "Success")
            {
                <span class="alert alert-success">
                    You have been subscribed
                </span>
            }
            else if (TempData["Status"]?.ToString() == "AlreadyExists")
            {
                <span class="alert alert-warning">
                    You have already been subscribed
                </span>
            }
            else if (TempData["Status"]?.ToString() == "Invalid")
            {
                <span class="alert alert-danger">
                    You must enter a valid email address (xx@xx.xx)
                </span>
            }
            else if (TempData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unabled to contact the server. Please try again later
                </span>
            }
            else
            {
                <span class="alert">
                    <div class="subscribe-terms-and-privacy">
                        <p>
                            * Yes, I agree to the <a asp-action="Terms" asp-controller="Subscribe"><span>terms</span></a> and <a asp-action="Privacy" asp-controller="Subscribe"><span>privacy policy</span></a>
                        </p>
                    </div>
                </span>
            }
        </span>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")