<section class="task-management">
    <div class="container">
        <div class="task-management-content">
            <img src="images/task-management-img.svg" alt="dashboard">

            <div class="task-management-work">
                <h3 class="manage-work-heading">Manage Your Work</h3>
                <div class="task-management-status-badge">
                    <img src="images/bx-check-circle.svg" alt="circle with checkmarks">
                    <p>Powerful project management</p>
                </div>
                <div class="task-management-status-badge">
                    <img src="images/bx-check-circle.svg" alt="circle with checkmarks">
                    <p>Transparent work management</p>
                </div>
                <div class="task-management-status-badge">
                    <img src="images/bx-check-circle.svg" alt="circle with checkmarks">
                    <p>Manage work & focus on the most important tasks</p>
                </div>
                <div class="task-management-status-badge">
                    <img src="images/bx-check-circle.svg" alt="circle with checkmarks">
                    <p>Track your progress with interactive charts</p>
                </div>
                <div class="task-management-status-badge">
                    <img src="images/bx-check-circle.svg" alt="circle with checkmarks">
                    <p>Easiest way to track time spent on tasks</p>
                </div>
                <a class="btn-theme" href="">Learn more<i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
